<div id="<%= dom_id beat %>">
  <p>
    <strong>Title:</strong>
    <%= beat.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= beat.description %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= beat.genre %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= beat.price %>
  </p>

  <p>
    <strong>License type:</strong>
    <%= beat.license_type %>
  </p>

</div>
