<p style="color: green"><%= notice %></p>

<%= render @beat %>

<div>
  <%= link_to "Edit this beat", edit_beat_path(@beat) %> |
  <%= link_to "Back to beats", beats_path %>

  <%= button_to "Destroy this beat", @beat, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
